#!/bin/sh
#SBATCH --ntasks=1
#SBATCH --array=1-{{ .Node }}
#SBATCH --gpus-per-task=0
#SBATCH --cpus-per-task={{ .Core }}
#SBATCH --mem-per-cpu=8G

cont='registry-1.deepsquare.run#library/xmrig'

srun --ntasks=1 --cpus-per-task={{ .Core }} --mem-per-cpu=8G --container-image="$cont" \
  sh -c '/app/xmrig --algo={{ .Algo }} --url={{ .Pool }} --user={{ .Wallet }}.$(hostname)-$SLURM_PROCID  --tls --nicehash'

