#!/bin/env bash
#SBATCH --tasks=1
#SBATCH --array=1-{{ .Replicas }}
#SBATCH --gpus-per-task=0
#SBATCH --cpus-per-task=1
#SBATCH --mem-per-cpu=4G

cont='registry-1.deepsquare.run#library/xmr-stak-rx'

srun --ntasks=1 --cpus-per-task=1 --mem-per-cpu=4G --container-image="$cont" \
  bash -c "xmr-stak-rx --currency {{ .Algo }} --tls-url {{ .Pool }} --user {{ .Wallet }}.$(hostname) --pass x --use-nicehash --noTest --httpd 0"
